{% extends 'goods_base.html' %}
{% block head%}
<script>
	$(function(){
	   	$('.add').click(function(){
			var num = parseInt($('.num_show').val())
			if(num<0){
			    num=0
			}
			else{
				num = parseInt(num)+1;
			}
			$('.num_show').val(num)
			var price = parseFloat($('.show_pirze em').html())
			var sum = num * price
			$('.total em').html(sum.toFixed(2)+'元')
		})
		$('.minus').click(function(){
			var num = parseInt($('.num_show').val())
			if(num<=0){
			    num=0
			}
			else{
				num = parseInt(num)-1;
			}
			$('.num_show').val(num);
			var price = parseFloat($('.show_pirze em').html())
			var sum = num * price
			$('.total em').html(sum.toFixed(2)+'元')
		})
//		加入购物车
		$('.buy_btn').click(function(){
		    count = $('.num_show').val();
			goodid = $('.navbar_con').prop('id');
			$(this).prop('href', '/add_'+goodid+'_'+count)
		})

		var $add_x = $('#add_cart').offset().top;
		var $add_y = $('#add_cart').offset().left;

		var $to_x = $('#show_count').offset().top;
		var $to_y = $('#show_count').offset().left;

		$(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'})
		$('#add_cart').click(function(){
			count = $('.num_show').val();
			goodid = $('.navbar_con').prop('id');
		    $.get('/add_'+goodid+'_'+count, function(res){
		        console.log(res)
			})
			$(".add_jump").stop().animate({
				'left': $to_y+7,
				'top': $to_x+7},
				"fast", function() {
					$(".add_jump").fadeOut('fast',function(){
//					    num = parseInt($('#show_count').html())
//						num ++;
						$('#show_count').html(2);
					});

			});
		})
	})
</script>
{% endblock head%}
{% block body %}
<div class="navbar_con" id="{{good.id}}">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>
				<span></span>
				<ul class="subnav">
					<li><a href="#" class="fruit">新鲜水果</a></li>
					<li><a href="#" class="seafood">海鲜水产</a></li>
					<li><a href="#" class="meet">猪牛羊肉</a></li>
					<li><a href="#" class="egg">禽类蛋品</a></li>
					<li><a href="#" class="vegetables">新鲜蔬菜</a></li>
					<li><a href="#" class="ice">速冻食品</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">{{good.gtype}}</a>
		<span>></span>
		<a href="#">商品详情</a>
	</div>

	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="/static/images/{{good.gimg}}"></div>

		<div class="goods_detail_list fr">
			<h3>{{good.gtitle}}</h3>
			<p>{{good.gintroduce}}</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em>{{good.gprice}}</em></span>
				<span class="show_unit">单  位：{{good.gunit}}</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
					<input type="text" class="num_show fl" value="1">
					<a href="javascript:;" class="add fr" onclick="return false;">+</a>
					<a href="javascript:;" class="minus fr">-</a>
				</div>
			</div>
			<div class="total">总价：<em>{{good.gprice}}元</em></div>
			<div class="operate_btn">
				<a href="javascript:;" class="buy_btn">立即购买</a>
				<a href="javascript:;" class="add_cart" id="add_cart">加入购物车</a>
			</div>
		</div>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
					{% for item in moodsg  %}
					<li>
						<a href="/{{item.id}}/"><img src="/static/images/{{item.gimg}}"></a>
						<h4><a href="/{{item.id}}/">{{item.gtitle}}</a></h4>
						<div class="prize">￥{{item.gprice}}</div>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
				<li>评论</li>
			</ul>

			<div class="tab_content">
				<dl>
					<dt>商品详情：</dt>
					<dd>{{good.gdetails|safe}}</dd>
				</dl>
			</div>

		</div>
	</div>
{% endblock body %}
{% block footer %}
	<div class="footer">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>
		</div>
		<p>CopyRight © 2016 北京天天生鲜信息技术有限公司 All Rights Reserved</p>
		<p>电话：010-****888    京ICP备*******8号</p>
	</div>
	<div class="add_jump"></div>
{% endblock footer %}
{% block script %}
{% endblock script %}