{% extends 'goods_base.html' %}
{%load filters%}
{% block title %}{% endblock title %}
{% block body %}
	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>
				<span></span>
				<ul class="subnav">
					<li><a href="/list_1_1_1/" class="fruit">新鲜水果</a></li>
					<li><a href="/list_2_1_1/" class="seafood">海鲜水产</a></li>
					<li><a href="/list_3_1_1/" class="meet">猪牛羊肉</a></li>
					<li><a href="/list_4_1_1/" class="egg">禽类蛋品</a></li>
					<li><a href="/list_5_1_1/" class="vegetables">新鲜蔬菜</a></li>
					<li><a href="/list_6_1_1/" class="ice">速冻食品</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">{{query}}{{num}}</a>
	</div>
    <ul class="goods_type_list clearfix">
				{% for item in page %}
				<li>
					<a href="/{{item.object.id}}/"><img src="/static/images/{{item.object.gimg}}"></a>
					<h4><a href="{{item.object.id}}">{{item.object.gtitle}}</a></h4>
					<div class="operate">
						<span class="prize">￥{{item.object.gprice}}</span>
						<span class="unit">{{item.object.gprice}}/{{item.object.gunit}}</span>
						<a href="/add_{{item.object.id}}_1/" class="add_goods" title="加入购物车"></a>
					</div>
				</li>
                {% empty %}
                啥也没找到
				{% endfor %}

    </ul>
	<div class="pagenation">
				{% if page.has_previous %}
					<a href="?q={{query}}&amp;page={{page.previous_page_number}}">&lt;上一页</a>
				{% endif %}
				{% for pindex in page.paginator.page_range %}
					{% if pindex == page.number %}
						<a href="javascript:;" class="active">{{pindex}}</a>
					{% else %}
						<a href="?q={{query}}&amp;page={{pindex}}" >{{pindex}}</a>
					{% endif %}
				{% endfor %}
				{% if page.has_next %}
					<a href="?q={{query}}&amp;page={{page.next_page_number}}">下一页></a>
				{% endif %}

	</div>
{% endblock body %}
{% block footer %}{% endblock footer %}
